<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="defaultStatementTimeout" value="10"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <mappers>
        <mapper resource="mapper/member-mapper.xml"/>
    </mappers>
</configuration>